﻿@model string[]

<h1>Message au père noël</h1>
<form method="post" class="form-css">
    Email : <input type="text" name="email" placeholder="example@domaine.com"/>
    <br />
    Message : <textarea name="message" placeholder="Taper message"></textarea>
   <br />
    <input class="fancy-button" type="submit" value="Envoyer" name=ok />
</form>

@{
    if (Model != null) {
        <article class="formulaire">
        <h4> Votre message a bien été envoyé au Père Noël!</h4>
           <p>Email : @Model[0]</p>
            <p>Votre message : <br/> @Model[1]</p></article>
    }
 
}
