﻿@using Fr.EQL.AI110.ChristmasFactory.Web;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Santa's Website</h1>
    <img class="arrondie" src="~/images/santa2.jpg" width="600" height="600"/>
</div>