﻿@using Fr.EQL.AI110.ChristmasFactory.Entities

@model Elf

<h1>@Model.Name</h1>

<div class="detail">Dispo : 
    @{
        string available = "Oui";
        if (!@Model.IsAvailable)
        {
            available = "Non";
        }
    }
    @available
    <br />
<img class="pic" src="~/images/@Model.Picture"/></div>

