﻿@using Fr.EQL.AI110.ChristmasFactory.Entities;
@model Elf

@{
    
    string name = "";
    string image = "";
    string button = "Créer";

    if ( Model != null && Model.Id > 0)
    {
        name = Model.Name;
        image = Model.Picture;
        button = "Modifier";
    }
}

<h1>@ViewBag.Rubrique</h1>

<form class="form-css" method="post">
    Nom : <input asp-for="Name" placeholder="Dobby" value="@name"/>
    <br />
    @Html.ValidationMessageFor(model => model.Name)
    <br />
    <input asp-for="IsAvailable"/> Dispo
    <br />
    Image : <input asp-for="Picture" placeholder="Dobby.jpg" value="@image" />
    <br />
    <select asp-for="IdCategory">
    @foreach (ElfCategory cat in @ViewBag.Categories)
    {
        <option value=@cat.Id>@cat.CategoryName</option>
    }
    </select>
    <br />
    <input class="fancy-button" type="submit" value="@button" name="ok"/>
</form>
