﻿@using Fr.EQL.AI110.ChristmasFactory.Entities;
@using Fr.EQL.AI110.ChristmasFactory.Web.Models;

@model ElfSearchViewModel

<body class="center">
<h1>Liste des Elfes</h1>

<a asp-controller="elf" asp-action="create"><input class="fancy-button" type="submit" value="Créer un elfe" /></a>

<form class="formulaire" method="post" formaction="@Url.Action("Index")">
    Nom de l'elfe : <input asp-for=ElfName />
    Image : <input asp-for=ElfPicture />
    Dispo :
  <input type="radio" id="yes" name="isAvailable" value="true" uncheck="true">
  <label for="yes">Oui</label>
  <input type="radio" id="no" name="isAvailable" value="false">
  <label for="no">Non</label>
    <select asp-for="@Model.IdCategory">
        <option value="0">Toutes les catégories</option>
        @foreach (ElfCategory elfCat in @Model.CategoryNames )
        {
             <option value=@elfCat.Id>@elfCat.CategoryName</option>
        }
       
    </select>
    <input class="fancy-button" type="submit" value="Filtrer" />
</form>

<table id="rose" class="justify-content-center">
    <tr>
        <th>Id</th>
        <th>Nom</th>
        <th>Catégorie</th>
        <th>Disponible</th>
        <th>Image</th>
        <th>Détails</th>
        <th>Mise à jour</th>
    </tr>

    @foreach (ElfDetails elf in Model.Elves)
    {
        <tr>
            <td>@elf.Id</td>
             <td>@elf.Name</td>
             <td>@elf.CategoryName</td>
            <td>
                @if (elf.IsAvailable)
                {
                    <img src="~/images/btngreen.png" width="40" height ="40">
                }
                else
                {
                    <img src="~/images/red.png" width="40" height="40">
                }
                </td>
            <td>@elf.Picture</td>
            <td>
                <a asp-controller="elf" asp-action="infos" asp-route-id="@elf.Id">Détails de @elf.Name</a></td>
                @*<a href="Elf/Detail?id=@elf.Id">Détails de @elf.Name</a>*@
            <td>
                <a asp-controller="elf" asp-action="update" asp-route-id="@elf.Id">Modifier @elf.Name</a>
            </td>
        </tr>

    }
</table>
<form method="post">
Id : <input type="text" name="idsupp" /> 
<input class="fancy-button" type="submit" value="Supprimer" name="delete" formaction="@Url.Action("delete")"/>
<br />
<p class="fancy-button">@TempData["Erreur"]</p>
</form>
</body>

