﻿<h1>Ajout d'un Elfe</h1>
<form class="form-css" method="post">
    Nom : <input type="text" name="name" placeholder="Dobby"/>
    <br />
    <input type="checkbox" name="checkbox" /> Dispo
    <br />
    Image : <input type="text" name="img" placeholder="dobby.jpg" />
    <br />
    <input type="submit" value="Créer" name="ok"/>

</form>
