html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
    margin-bottom: 60px;
    background: linear-gradient(red,crimson);
    background-image: url(/images/knit.jpg);
    background-repeat: no-repeat;
    color: forestgreen;
    font-weight: bold;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 1px 1px darkseagreen;
}

img {
    text-align : center;
}

h1, h2 {
    background-color: white;
    border: 10px solid;
    border-radius: 10px;
    text-shadow: 2px 2px darkseagreen;
}

.arrondie {
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}

.voyage {
    background-color: lightcoral;
    border: 5px solid;
    border-radius: 10px;
    max-width: 50%;
    align-self : center;
}

table {
    background-color: whitesmoke;
    margin: auto;
    border: 5px solid;
}

td {
    width : 15rem;
}

th {
    color : red;
}

.form-css {
    margin: auto;
    padding: 5rem;
    width: 45rem;
    border: 5px solid green;
    border-radius: 10px;
    background-image: url(/images/spark.jpg);
    margin-top: 2rem;
}

input {
    margin : 1rem;
}

.catalogue {
    display: flex;
    flex-flow : row wrap;
}

.catalogue article {
        border: 2px solid red;
        border-radius: 5px;
        margin: 5px;
        padding: 5px;
        background-image:url(/images/rose.jpg);
        width : 15rem;
        height : 18rem;
    }

.catalogue article header {
            font-weight: bold;
            font-size: 1.5em;
            text-decoration: underline;
            color: green;
        }

.catalogue article span {
            display: block;
        }

.prix {
    font-style: italic;
}

.fancy-button {
    border-radius: 5px;
    background-color : green;
    color : white;
}

#rose {
    background-image: url(/images/rose.jpg);
}

.link {
    color : red;
    font-size : 2rem;
}

a, a:link, a:hover {
    text-decoration: none;
    color : unset;
}

.detail {
    background-image: url(/images/rose.jpg);
} 

.pic {
    max-height : 50vh;
    margin : 2rem;
}

.error-message {
    border : 1px solid red;
    border-radius : 5px;
    margin : 5px; 
    padding : 5px;
    color : red;
    background-color:white;
}

.font-size {
    font-size : medium;
}

.formulaire {
    margin: auto;
    margin-top: 10px;
    min-width: 40rem;
    border: 5px solid green;
    border-radius: 10px;
    padding: 5px;
    background-image: url(/images/santa.gif);
    background-size: contain;
}
