﻿@using Fr.EQL.AI110.ChristmasFactory.Entities
@model Toy

<h1>@Model.Name</h1>

<div class="detail">Prix : @Model.Price €
    <br />
    Description : @Model.Description
    <br /> 
    Nom du Responsable : @ViewBag.ElfName
    <br />
    Référence : @Model.Id
</div>