﻿@using Fr.EQL.AI110.ChristmasFactory.Entities;

@model Toy

@{
    string description = "";
    string button = "Créer";
    string action = "create";

    if (Model != null && Model.Id > 0)
    {
        description = @Model.Description;
        button = "Modifier";
        action = "update";
    }
}

<h1>@ViewBag.Rubrique</h1>

<form class="form-css" method="post">
    Nom : <input asp-for="Name" placeholder="Yoyo"/>
    <br />
    Description : <textarea asp-for="Description" placeholder="Donner une description du jouet" value="@description"></textarea>
    <br />
    Prix : <input asp-for="Price" placeholder="0,00€"/>
    <br />
    @Html.ValidationMessageFor(model => model.Price)
    <br />
    <label asp-for="IdResponsable">Nom du Responsable</label>
    <select asp-for="IdResponsable">
        @foreach (Elf elf in @ViewBag.ElfList)
        {
            <option value="@elf.Id">@elf.Name</option>
        }
    </select>
    <br />
    <input class="fancy-button" type="submit" value="@button" name="ok" asp-action="@action" />
    @{
        if (Model != null && Model.Id > 0)
        {
            <input class="fancy-button" type="submit" value="Delete" name="del" formaction="@Url.Action("delete", new {id=Model.Id})"/>
        }
        
    }
</form>
