﻿@using Fr.EQL.AI110.ChristmasFactory.Entities;
@using Fr.EQL.AI110.ChristmasFactory.Business;
@using Fr.EQL.AI110.ChristmasFactory.Web.Models;

@model ToySearchViewModel


<h1>Catalogue de Jouets</h1>
<a asp-controller="toy" asp-action="create"><input class="fancy-button" type="submit" value="Créer un jouet" /></a>

<form  class="formulaire" method="post" formaction="@Url.Action("Index")">
Nom du Responsable : 
<select asp-for="IdResponsable">
    <option value="0">Tous les elfes</option>
    @foreach (Elf elf in Model.Elves)
        {
            <option value="@elf.Id">@elf.Name</option>
        }
</select>
<br />
Nom du Jouet : <input asp-for="ToyName" />
Prix minimum : <input asp-for="MinPrice" value="" />
Prix maximum : <input asp-for="MaxPrice" value=""/>
<br />
<input class="fancy-button" type="submit" value="Filtrer" formaction="@Url.Action("Index")" />
</form>

<section class="catalogue">
    @{
        foreach (ToyDetails toy in Model.Toys)
    {
   <article>
        <header class="font-size">@toy.Name</header>
        <br>
        <div class="prix">Prix : @toy.Price €</div>
        <br>
        
        
          
     
            
        <br>
        <div>Référence : @toy.Id</div>
        <a asp-controller="toy" asp-action="detail" asp-route-id="@toy.Id">Détails</a>
        <br>
         <a asp-controller="toy" asp-action="update" asp-route-id="@toy.Id">Mettre à jour</a>
    </article>
  
    }
    }
</section>
<form method="post" >
Référence : <input type="text" name="idsupp" /> 
<input class="fancy-button" type="submit" value="Supprimer" name="delete" formaction="@Url.Action("delete")"/>
</form>
